@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
    100% { left: -100vw; }  
}
* {
    font-family: 'Inconsolata'

}

.calculator-shadow {
    border-radius: 50px;
background: #282a2f;
box-shadow:  14px 14px 28px #222428,
             -14px -14px 28px #2e3036;
}
.input-shadow {
    border-radius: 50px;
    background: #484d5b;
    box-shadow:  14px 14px 28px #3d414d,
                 -14px -14px 28px #535969;
}
.key-shadow {
    border-radius: 50px;
background: #282a2f;
box-shadow:  14px 14px 28px #222428,
             -14px -14px 28px #2e3036;
}

html {
	zoom: 100%;
}
/*This can be used for any tag, id or class*/


  
  

  